
server:
  port: 8181

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/jpa?serverTimezone=Asia/Seoul
    username: root
    password: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    # ??? ?? ? ?? DB? ?? ???? ??
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    database: mysql # DB ?? ??

servlet:
  multipart:
    max-file-size: 10MB # 1?? ??? ?? ???
    max-request-size: 20MB # ?? ??? ?? ???

logging.level:
  org.hibernate.SQL: debug

# swagger setting
springdoc:
  swagger-ui:
    path: /myapi.html

# ??? ?? ?? ??
upload:
  path: C:/todo_upload